openapi: 3.0.1
info:
  contact:
    email: support@aylien.com
    name: API support
    url: https://newsapi.aylien.com/
  description: 'The AYLIEN News API is the most powerful way of sourcing, searching and syndicating analyzed and enriched news content. It is accessed by sending HTTP requests to our server, which returns information to your client.

    '
  termsOfService: https://newsapi.aylien.com/tos
  title: AYLIEN News Absa Concepts API
  version: '3.0'
servers:
- url: https://api.aylien.com/news
tags:
- name: Concepts
paths:
  /concepts:
    get:
      security:
      - app_id: []
      - app_key: []
      summary: Concept extraction
      operationId: concepts
      description: "Extracts named entities, themes, and topics mentioned in a document,  disambiguates and cross-links them to DBpedia and Linked Data entities. \n"
      parameters:
      - $ref: '#/parameters/text'
      - $ref: '#/parameters/url'
      - $ref: '#/parameters/language'
      responses:
        '200':
          $ref: '#/responses/concepts'
        '401':
          $ref: '#/responses/error401_Unauthorized'
        '404':
          $ref: '#/responses/error404_NotFound'
        '422':
          $ref: '#/responses/error422_UnprocessableEntity'
        '429':
          $ref: '#/responses/error429_TooManyRequests'
        '500':
          $ref: '#/responses/error500_InternalServerError'
      tags:
      - Concepts
components:
  securitySchemes:
    app_id:
      x-auth-id-alias: true
      description: 'X-AYLIEN-NewsAPI-Application-ID is the identifier of your server, script, or program with a specific application. This parameter is required if you are accessing APIs without authenticating.

        '
      in: header
      name: X-AYLIEN-NewsAPI-Application-ID
      type: apiKey
    app_key:
      x-auth-id-alias: true
      description: 'X-AYLIEN-NewsAPI-Application-Key is the secret key of your server, script, or program with a specific application. This parameter is required if you are accessing APIs without authenticating.

        '
      in: header
      name: X-AYLIEN-NewsAPI-Application-Key
      type: apiKey
definitions:
  GenericInputLanguage:
    type: string
    description: Input language
    enum:
    - en
    - de
    - es
    - fr
    - it
  Concept:
    type: object
    description: Single concept
    properties:
      surfaceForms:
        type: array
        items:
          $ref: '#/definitions/SurfaceForm'
      support:
        type: number
        description: Support factor
        format: int
      types:
        type: array
        items:
          type: string
          description: Concept type
  Errors:
    type: object
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Error'
  ErrorLinks:
    type: object
    properties:
      about:
        type: string
  Concepts:
    type: object
    description: Concepts root
    properties:
      text:
        $ref: '#/definitions/GenericInputText'
      lang:
        $ref: '#/definitions/GenericInputLanguage'
      concepts:
        type: object
        additionalProperties:
          $ref: '#/definitions/Concept'
  GenericInputText:
    type: string
    description: Input text
  Error:
    type: object
    properties:
      id:
        type: string
      links:
        $ref: '#/definitions/ErrorLinks'
      status:
        type: string
      code:
        type: string
      title:
        type: string
      detail:
        type: string
  SurfaceForm:
    type: object
    properties:
      string:
        type: string
        description: Form source
      score:
        type: string
        description: Form score
        format: float
      offset:
        type: number
        description: Form offset
        format: int
parameters:
  text:
    name: text
    in: query
    description: 'Text to analyze

      '
    type: string
  url:
    name: url
    in: query
    description: 'URL to analyze

      '
    type: string
  language:
    name: language
    in: query
    description: 'Text to analyze

      '
    type: string
    enum:
    - en
    - de
    - es
    - fr
    - it
responses:
  error401_Unauthorized:
    description: Unauthorized
    schema:
      $ref: '#/definitions/Errors'
  error404_NotFound:
    description: Not Found
    schema:
      $ref: '#/definitions/Errors'
  error500_InternalServerError:
    description: Internal Server Error
    schema:
      $ref: '#/definitions/Errors'
  error422_UnprocessableEntity:
    description: Unprocessable Entity
    schema:
      $ref: '#/definitions/Errors'
  concepts:
    description: An object describing extracted concepts
    schema:
      type: object
      properties:
        root:
          $ref: '#/definitions/Concepts'
    headers:
      X-RateLimit-Limit:
        description: The number of allowed requests in the current period.
        type: integer
        format: int32
      X-RateLimit-Remaining:
        description: The number of remaining requests in the current period.
        type: integer
        format: int32
      X-RateLimit-Reset:
        description: 'The remaining window before the rate limit resets in UTC [epoch seconds](https://en.wikipedia.org/wiki/Unix_time).

          '
        type: integer
        format: int64
  error429_TooManyRequests:
    description: Too Many Requests
    schema:
      $ref: '#/definitions/Errors'
    headers:
      X-RateLimit-Limit:
        description: The number of allowed requests in the current period.
        type: integer
        format: int32
      X-RateLimit-Remaining:
        description: The number of remaining requests in the current period.
        type: integer
        format: int32
      X-RateLimit-Reset:
        description: 'The remaining window before the rate limit resets in UTC [epoch seconds](https://en.wikipedia.org/wiki/Unix_time).

          '
        type: integer
        format: int64
x-group-parameters: true
