openapi: 3.2.0
info:
  title: AYLIEN Text Elsa API
  description: The AYLIEN Text Analysis API is a package of Natural Language Processing and Machine Learning-powered APIs for analyzing and extracting various kinds of information from textual content.
  termsOfService: https://newsapi.aylien.com/tos
  contact:
    name: API support
    url: https://aylien.com/text-api/
    email: support@aylien.com
  version: '1.0'
servers:
- url: https://api.aylien.com/api/v1
tags:
- name: Elsa
paths:
  /elsa:
    get:
      security:
      - app_id: []
      - app_key: []
      summary: Entity-level sentiment
      operationId: entitySentiment
      description: Extracts mentions of named entities (Person, Organization, Location), and detects the sentiment towards each of the entities recognised. This endpoint utilizes some of the functionality of the Entity extraction and Concept extraction endpoints.
      parameters:
      - $ref: '#/components/parameters/text'
      - $ref: '#/components/parameters/url'
      - $ref: '#/components/parameters/language'
      responses:
        '200':
          $ref: '#/components/responses/elsa'
        '401':
          $ref: '#/components/responses/error401_Unauthorized'
        '404':
          $ref: '#/components/responses/error404_NotFound'
        '422':
          $ref: '#/components/responses/error422_UnprocessableEntity'
        '429':
          $ref: '#/components/responses/error429_TooManyRequests'
        '500':
          $ref: '#/components/responses/error500_InternalServerError'
      tags:
      - Elsa
components:
  responses:
    elsa:
      description: An object describing entity-based sentiment
      headers:
        X-RateLimit-Limit:
          description: The number of allowed requests in the current period.
          schema:
            type: integer
            format: int32
        X-RateLimit-Remaining:
          description: The number of remaining requests in the current period.
          schema:
            type: integer
            format: int32
        X-RateLimit-Reset:
          description: 'The remaining window before the rate limit resets in UTC [epoch seconds](https://en.wikipedia.org/wiki/Unix_time).

            '
          schema:
            type: integer
            format: int64
      content:
        application/json:
          schema:
            type: object
            properties:
              root:
                $ref: '#/components/schemas/EntitySentiment'
        text/xml:
          schema:
            type: object
            properties:
              root:
                $ref: '#/components/schemas/EntitySentiment'
    error404_NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
        text/xml:
          schema:
            $ref: '#/components/schemas/Errors'
    error429_TooManyRequests:
      description: Too Many Requests
      headers:
        X-RateLimit-Limit:
          description: The number of allowed requests in the current period.
          schema:
            type: integer
            format: int32
        X-RateLimit-Remaining:
          description: The number of remaining requests in the current period.
          schema:
            type: integer
            format: int32
        X-RateLimit-Reset:
          description: 'The remaining window before the rate limit resets in UTC [epoch seconds](https://en.wikipedia.org/wiki/Unix_time).

            '
          schema:
            type: integer
            format: int64
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
        text/xml:
          schema:
            $ref: '#/components/schemas/Errors'
    error500_InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
        text/xml:
          schema:
            $ref: '#/components/schemas/Errors'
    error401_Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
        text/xml:
          schema:
            $ref: '#/components/schemas/Errors'
    error422_UnprocessableEntity:
      description: Unprocessable Entity
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
        text/xml:
          schema:
            $ref: '#/components/schemas/Errors'
  schemas:
    GenericConfidence:
      type: number
      format: float
      description: Model confidence (0..1)
      minimum: 0
      maximum: 1
    EntitySentimentEntityMention:
      type: object
      properties:
        offset:
          type: number
          format: int
          description: Mention offset
        confidence:
          $ref: '#/components/schemas/GenericConfidence'
        text:
          type: string
          description: Mention text
        sentiment:
          type: array
          description: Mention sentiment data
          items:
            type: object
            properties:
              polarity:
                $ref: '#/components/schemas/GenericPolarity'
              confidence:
                $ref: '#/components/schemas/GenericPolarityConfidence'
    Error:
      type: object
      properties:
        id:
          type: string
        links:
          $ref: '#/components/schemas/ErrorLinks'
        status:
          type: string
        code:
          type: string
        title:
          type: string
        detail:
          type: string
    GenericInputText:
      type: string
      description: Input text
    GenericPolarityConfidence:
      type: number
      format: float
      description: Polarity confidence (0..1)
      minimum: 0
      maximum: 1
    EntitySentiment:
      type: object
      properties:
        text:
          $ref: '#/components/schemas/GenericInputText'
        entites:
          type: array
          items:
            $ref: '#/components/schemas/EntitySentimentEntity'
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
    EntitySentimentEntity:
      type: object
      description: Entity-based sentiment data, per entity
      properties:
        type:
          type: string
          description: Entity type
        mentions:
          type: array
          description: Entity mentions
          items:
            $ref: '#/components/schemas/EntitySentimentEntityMention'
        overall_sentiment:
          type: object
          description: Entity sentiment
          properties:
            polarity:
              $ref: '#/components/schemas/GenericPolarity'
            confidence:
              $ref: '#/components/schemas/GenericPolarityConfidence'
        links:
          type: array
          description: Entity links
          items:
            $ref: '#/components/schemas/EntitySentimentEntityLink'
    EntitySentimentEntityLink:
      type: object
      properties:
        uri:
          type: string
          description: Entity URI
        provider:
          type: string
          description: Entity provider
        types:
          type: array
          description: Entity types
          items:
            type: string
        confidence:
          $ref: '#/components/schemas/GenericConfidence'
    GenericPolarity:
      type: string
      description: Detected polarity
      enum:
      - positive
      - negative
      - neutral
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
  parameters:
    text:
      name: text
      in: query
      description: 'Text to analyze

        '
      schema:
        type: string
    language:
      name: language
      in: query
      description: 'Text to analyze

        '
      schema:
        type: string
        enum:
        - en
        - de
        - es
        - fr
        - it
    url:
      name: url
      in: query
      description: 'URL to analyze

        '
      schema:
        type: string
  securitySchemes:
    app_id:
      type: apiKey
      name: X-AYLIEN-TextAPI-Application-ID
      description: 'X-AYLIEN-TextAPI-Application-ID is the identifier of your server, script, or program with a specific application. This parameter is required if you are accessing APIs without authenticating.

        '
      in: header
    app_key:
      type: apiKey
      name: X-AYLIEN-TextAPI-Application-Key
      description: 'X-AYLIEN-TextAPI-Application-Key is the secret key of your server, script, or program with a specific application. This parameter is required if you are accessing APIs without authenticating.

        '
      in: header
