openapi: 3.2.0
info:
  title: AYLIEN Text Sentiment API
  description: The AYLIEN Text Analysis API is a package of Natural Language Processing and Machine Learning-powered APIs for analyzing and extracting various kinds of information from textual content.
  termsOfService: https://newsapi.aylien.com/tos
  contact:
    name: API support
    url: https://aylien.com/text-api/
    email: support@aylien.com
  version: '1.0'
servers:
- url: https://api.aylien.com/api/v1
tags:
- name: Sentiment
paths:
  /sentiment:
    get:
      security:
      - app_id: []
      - app_key: []
      summary: Detect sentiment
      operationId: documentSentiment
      description: Detects the sentiment of a document (positive, negative or neutral) and provides a subjective or objective label to text.
      parameters:
      - $ref: '#/components/parameters/text'
      - $ref: '#/components/parameters/url'
      - $ref: '#/components/parameters/language'
      - name: mode
        in: query
        description: 'Analysis mode

          '
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/sentiment'
        '401':
          $ref: '#/components/responses/error401_Unauthorized'
        '404':
          $ref: '#/components/responses/error404_NotFound'
        '422':
          $ref: '#/components/responses/error422_UnprocessableEntity'
        '429':
          $ref: '#/components/responses/error429_TooManyRequests'
        '500':
          $ref: '#/components/responses/error500_InternalServerError'
      tags:
      - Sentiment
components:
  schemas:
    GenericConfidence:
      type: number
      format: float
      description: Model confidence (0..1)
      minimum: 0
      maximum: 1
    Sentiment:
      type: object
      properties:
        text:
          $ref: '#/components/schemas/GenericInputText'
        polarity:
          $ref: '#/components/schemas/GenericPolarity'
        polarity_confidence:
          $ref: '#/components/schemas/GenericPolarityConfidence'
        subjectivity:
          type: string
          description: Detected subjectivity
          enum:
          - subjective
          - unknown
        subjectivity_confidence:
          $ref: '#/components/schemas/GenericConfidence'
    Error:
      type: object
      properties:
        id:
          type: string
        links:
          $ref: '#/components/schemas/ErrorLinks'
        status:
          type: string
        code:
          type: string
        title:
          type: string
        detail:
          type: string
    GenericPolarityConfidence:
      type: number
      format: float
      description: Polarity confidence (0..1)
      minimum: 0
      maximum: 1
    GenericInputText:
      type: string
      description: Input text
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
    GenericPolarity:
      type: string
      description: Detected polarity
      enum:
      - positive
      - negative
      - neutral
  responses:
    error422_UnprocessableEntity:
      description: Unprocessable Entity
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
        text/xml:
          schema:
            $ref: '#/components/schemas/Errors'
    sentiment:
      description: An object describing document sentiment
      headers:
        X-RateLimit-Limit:
          description: The number of allowed requests in the current period.
          schema:
            type: integer
            format: int32
        X-RateLimit-Remaining:
          description: The number of remaining requests in the current period.
          schema:
            type: integer
            format: int32
        X-RateLimit-Reset:
          description: 'The remaining window before the rate limit resets in UTC [epoch seconds](https://en.wikipedia.org/wiki/Unix_time).

            '
          schema:
            type: integer
            format: int64
      content:
        application/json:
          schema:
            type: object
            properties:
              root:
                $ref: '#/components/schemas/Sentiment'
        text/xml:
          schema:
            type: object
            properties:
              root:
                $ref: '#/components/schemas/Sentiment'
    error404_NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
        text/xml:
          schema:
            $ref: '#/components/schemas/Errors'
    error429_TooManyRequests:
      description: Too Many Requests
      headers:
        X-RateLimit-Limit:
          description: The number of allowed requests in the current period.
          schema:
            type: integer
            format: int32
        X-RateLimit-Remaining:
          description: The number of remaining requests in the current period.
          schema:
            type: integer
            format: int32
        X-RateLimit-Reset:
          description: 'The remaining window before the rate limit resets in UTC [epoch seconds](https://en.wikipedia.org/wiki/Unix_time).

            '
          schema:
            type: integer
            format: int64
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
        text/xml:
          schema:
            $ref: '#/components/schemas/Errors'
    error401_Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
        text/xml:
          schema:
            $ref: '#/components/schemas/Errors'
    error500_InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
        text/xml:
          schema:
            $ref: '#/components/schemas/Errors'
  parameters:
    text:
      name: text
      in: query
      description: 'Text to analyze

        '
      schema:
        type: string
    url:
      name: url
      in: query
      description: 'URL to analyze

        '
      schema:
        type: string
    language:
      name: language
      in: query
      description: 'Text to analyze

        '
      schema:
        type: string
        enum:
        - en
        - de
        - es
        - fr
        - it
  securitySchemes:
    app_id:
      type: apiKey
      name: X-AYLIEN-TextAPI-Application-ID
      description: 'X-AYLIEN-TextAPI-Application-ID is the identifier of your server, script, or program with a specific application. This parameter is required if you are accessing APIs without authenticating.

        '
      in: header
    app_key:
      type: apiKey
      name: X-AYLIEN-TextAPI-Application-Key
      description: 'X-AYLIEN-TextAPI-Application-Key is the secret key of your server, script, or program with a specific application. This parameter is required if you are accessing APIs without authenticating.

        '
      in: header
