openapi: 3.0.1
info:
  contact:
    email: support@aylien.com
    name: API support
    url: https://newsapi.aylien.com/
  description: 'The AYLIEN News API is the most powerful way of sourcing, searching and syndicating analyzed and enriched news content. It is accessed by sending HTTP requests to our server, which returns information to your client.

    '
  termsOfService: https://newsapi.aylien.com/tos
  title: AYLIEN News Absa Elsa API
  version: '3.0'
servers:
- url: https://api.aylien.com/news
tags:
- name: Elsa
paths:
  /elsa:
    get:
      security:
      - app_id: []
      - app_key: []
      summary: Entity-level sentiment
      operationId: entitySentiment
      description: 'Extracts mentions of named entities (Person, Organization, Location), and detects the sentiment towards each of the entities recognised. This endpoint utilizes some of the functionality of the Entity extraction and Concept extraction endpoints.

        '
      parameters:
      - $ref: '#/parameters/text'
      - $ref: '#/parameters/url'
      - $ref: '#/parameters/language'
      responses:
        '200':
          $ref: '#/responses/elsa'
        '401':
          $ref: '#/responses/error401_Unauthorized'
        '404':
          $ref: '#/responses/error404_NotFound'
        '422':
          $ref: '#/responses/error422_UnprocessableEntity'
        '429':
          $ref: '#/responses/error429_TooManyRequests'
        '500':
          $ref: '#/responses/error500_InternalServerError'
      tags:
      - Elsa
components:
  securitySchemes:
    app_id:
      x-auth-id-alias: true
      description: 'X-AYLIEN-NewsAPI-Application-ID is the identifier of your server, script, or program with a specific application. This parameter is required if you are accessing APIs without authenticating.

        '
      in: header
      name: X-AYLIEN-NewsAPI-Application-ID
      type: apiKey
    app_key:
      x-auth-id-alias: true
      description: 'X-AYLIEN-NewsAPI-Application-Key is the secret key of your server, script, or program with a specific application. This parameter is required if you are accessing APIs without authenticating.

        '
      in: header
      name: X-AYLIEN-NewsAPI-Application-Key
      type: apiKey
definitions:
  Errors:
    type: object
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Error'
  GenericConfidence:
    type: number
    format: float
    description: Model confidence (0..1)
    minimum: 0
    maximum: 1
  EntitySentimentEntityLink:
    type: object
    properties:
      uri:
        type: string
        description: Entity URI
      provider:
        type: string
        description: Entity provider
      types:
        type: array
        description: Entity types
        items:
          type: string
      confidence:
        $ref: '#/definitions/GenericConfidence'
  GenericPolarity:
    type: string
    description: Detected polarity
    enum:
    - positive
    - negative
    - neutral
  EntitySentimentEntity:
    type: object
    description: Entity-based sentiment data, per entity
    properties:
      type:
        type: string
        description: Entity type
      mentions:
        type: array
        description: Entity mentions
        items:
          $ref: '#/definitions/EntitySentimentEntityMention'
      overall_sentiment:
        type: object
        description: Entity sentiment
        properties:
          polarity:
            $ref: '#/definitions/GenericPolarity'
          confidence:
            $ref: '#/definitions/GenericPolarityConfidence'
      links:
        type: array
        description: Entity links
        items:
          $ref: '#/definitions/EntitySentimentEntityLink'
  EntitySentiment:
    type: object
    properties:
      text:
        $ref: '#/definitions/GenericInputText'
      entites:
        type: array
        items:
          $ref: '#/definitions/EntitySentimentEntity'
  GenericPolarityConfidence:
    type: number
    format: float
    description: Polarity confidence (0..1)
    minimum: 0
    maximum: 1
  ErrorLinks:
    type: object
    properties:
      about:
        type: string
  GenericInputText:
    type: string
    description: Input text
  EntitySentimentEntityMention:
    type: object
    properties:
      offset:
        type: number
        format: int
        description: Mention offset
      confidence:
        $ref: '#/definitions/GenericConfidence'
      text:
        type: string
        description: Mention text
      sentiment:
        type: array
        description: Mention sentiment data
        items:
          type: object
          properties:
            polarity:
              $ref: '#/definitions/GenericPolarity'
            confidence:
              $ref: '#/definitions/GenericPolarityConfidence'
  Error:
    type: object
    properties:
      id:
        type: string
      links:
        $ref: '#/definitions/ErrorLinks'
      status:
        type: string
      code:
        type: string
      title:
        type: string
      detail:
        type: string
parameters:
  text:
    name: text
    in: query
    description: 'Text to analyze

      '
    type: string
  url:
    name: url
    in: query
    description: 'URL to analyze

      '
    type: string
  language:
    name: language
    in: query
    description: 'Text to analyze

      '
    type: string
    enum:
    - en
    - de
    - es
    - fr
    - it
responses:
  elsa:
    description: An object describing entity-based sentiment
    schema:
      type: object
      properties:
        root:
          $ref: '#/definitions/EntitySentiment'
    headers:
      X-RateLimit-Limit:
        description: The number of allowed requests in the current period.
        type: integer
        format: int32
      X-RateLimit-Remaining:
        description: The number of remaining requests in the current period.
        type: integer
        format: int32
      X-RateLimit-Reset:
        description: 'The remaining window before the rate limit resets in UTC [epoch seconds](https://en.wikipedia.org/wiki/Unix_time).

          '
        type: integer
        format: int64
  error422_UnprocessableEntity:
    description: Unprocessable Entity
    schema:
      $ref: '#/definitions/Errors'
  error500_InternalServerError:
    description: Internal Server Error
    schema:
      $ref: '#/definitions/Errors'
  error429_TooManyRequests:
    description: Too Many Requests
    schema:
      $ref: '#/definitions/Errors'
    headers:
      X-RateLimit-Limit:
        description: The number of allowed requests in the current period.
        type: integer
        format: int32
      X-RateLimit-Remaining:
        description: The number of remaining requests in the current period.
        type: integer
        format: int32
      X-RateLimit-Reset:
        description: 'The remaining window before the rate limit resets in UTC [epoch seconds](https://en.wikipedia.org/wiki/Unix_time).

          '
        type: integer
        format: int64
  error401_Unauthorized:
    description: Unauthorized
    schema:
      $ref: '#/definitions/Errors'
  error404_NotFound:
    description: Not Found
    schema:
      $ref: '#/definitions/Errors'
x-group-parameters: true
