openapi: 3.0.1
info:
  contact:
    email: support@aylien.com
    name: API support
    url: https://newsapi.aylien.com/
  description: 'The AYLIEN News API is the most powerful way of sourcing, searching and syndicating analyzed and enriched news content. It is accessed by sending HTTP requests to our server, which returns information to your client.

    '
  termsOfService: https://newsapi.aylien.com/tos
  title: AYLIEN News Absa Classify API
  version: '3.0'
servers:
- url: https://api.aylien.com/news
tags:
- name: Classify
paths:
  /classify/iptc-subjectcode:
    get:
      security:
      - app_id: []
      - app_key: []
      summary: Classification by IPTC NewsCodes
      operationId: classifyIPTC
      description: 'Classifies a piece of text or a URL according to a predefined taxonomy, using IPTC NewsCodes - International standard for categorizing news content

        '
      parameters:
      - $ref: '#/parameters/text'
      - $ref: '#/parameters/url'
      - $ref: '#/parameters/language'
      responses:
        '200':
          $ref: '#/responses/classify-iptc'
        '401':
          $ref: '#/responses/error401_Unauthorized'
        '404':
          $ref: '#/responses/error404_NotFound'
        '422':
          $ref: '#/responses/error422_UnprocessableEntity'
        '429':
          $ref: '#/responses/error429_TooManyRequests'
        '500':
          $ref: '#/responses/error500_InternalServerError'
      tags:
      - Classify
  /classify/iab-qag:
    get:
      security:
      - app_id: []
      - app_key: []
      summary: Classification by IAB QAG
      operationId: classifyIAB
      description: 'Classifies a piece of text or a URL according to a predefined taxonomy, using IAB QAG - The Interactive Advertising Bureau’s quality guidelines for classifying ads

        '
      parameters:
      - $ref: '#/parameters/text'
      - $ref: '#/parameters/url'
      - $ref: '#/parameters/language'
      responses:
        '200':
          $ref: '#/responses/classify-iab-qag'
        '401':
          $ref: '#/responses/error401_Unauthorized'
        '404':
          $ref: '#/responses/error404_NotFound'
        '422':
          $ref: '#/responses/error422_UnprocessableEntity'
        '429':
          $ref: '#/responses/error429_TooManyRequests'
        '500':
          $ref: '#/responses/error500_InternalServerError'
      tags:
      - Classify
components:
  securitySchemes:
    app_id:
      x-auth-id-alias: true
      description: 'X-AYLIEN-NewsAPI-Application-ID is the identifier of your server, script, or program with a specific application. This parameter is required if you are accessing APIs without authenticating.

        '
      in: header
      name: X-AYLIEN-NewsAPI-Application-ID
      type: apiKey
    app_key:
      x-auth-id-alias: true
      description: 'X-AYLIEN-NewsAPI-Application-Key is the secret key of your server, script, or program with a specific application. This parameter is required if you are accessing APIs without authenticating.

        '
      in: header
      name: X-AYLIEN-NewsAPI-Application-Key
      type: apiKey
definitions:
  GenericInputLanguage:
    type: string
    description: Input language
    enum:
    - en
    - de
    - es
    - fr
    - it
  Errors:
    type: object
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Error'
  Classification:
    type: object
    properties:
      text:
        $ref: '#/definitions/GenericInputText'
      language:
        $ref: '#/definitions/GenericInputLanguage'
      taxonomy:
        type: string
        description: Input taxonomy
      categories:
        type: array
        items:
          $ref: '#/definitions/ClassificationCategory'
  ErrorLinks:
    type: object
    properties:
      about:
        type: string
  GenericConfidence:
    type: number
    format: float
    description: Model confidence (0..1)
    minimum: 0
    maximum: 1
  ClassificationCategory:
    type: object
    properties:
      confident:
        type: boolean
        description: Are we confident enough?
      score:
        $ref: '#/definitions/GenericConfidence'
      label:
        type: string
        description: Detected label
      id:
        type: number
        format: int
      links:
        type: array
        items:
          type: object
          description: Category link
          properties:
            rel:
              type: string
              description: Relation, see https://html.spec.whatwg.org/multipage/semantics.html#attr-link-rel
            link:
              type: string
              description: Link URL
  GenericInputText:
    type: string
    description: Input text
  Error:
    type: object
    properties:
      id:
        type: string
      links:
        $ref: '#/definitions/ErrorLinks'
      status:
        type: string
      code:
        type: string
      title:
        type: string
      detail:
        type: string
parameters:
  text:
    name: text
    in: query
    description: 'Text to analyze

      '
    type: string
  url:
    name: url
    in: query
    description: 'URL to analyze

      '
    type: string
  language:
    name: language
    in: query
    description: 'Text to analyze

      '
    type: string
    enum:
    - en
    - de
    - es
    - fr
    - it
responses:
  error401_Unauthorized:
    description: Unauthorized
    schema:
      $ref: '#/definitions/Errors'
  error404_NotFound:
    description: Not Found
    schema:
      $ref: '#/definitions/Errors'
  error500_InternalServerError:
    description: Internal Server Error
    schema:
      $ref: '#/definitions/Errors'
  classify-iptc:
    description: An object describing document classification
    schema:
      type: object
      properties:
        root:
          $ref: '#/definitions/Classification'
    headers:
      X-RateLimit-Limit:
        description: The number of allowed requests in the current period.
        type: integer
        format: int32
      X-RateLimit-Remaining:
        description: The number of remaining requests in the current period.
        type: integer
        format: int32
      X-RateLimit-Reset:
        description: 'The remaining window before the rate limit resets in UTC [epoch seconds](https://en.wikipedia.org/wiki/Unix_time).

          '
        type: integer
        format: int64
  classify-iab-qag:
    description: An object describing document classification
    schema:
      type: object
      properties:
        root:
          $ref: '#/definitions/Classification'
    headers:
      X-RateLimit-Limit:
        description: The number of allowed requests in the current period.
        type: integer
        format: int32
      X-RateLimit-Remaining:
        description: The number of remaining requests in the current period.
        type: integer
        format: int32
      X-RateLimit-Reset:
        description: 'The remaining window before the rate limit resets in UTC [epoch seconds](https://en.wikipedia.org/wiki/Unix_time).

          '
        type: integer
        format: int64
  error422_UnprocessableEntity:
    description: Unprocessable Entity
    schema:
      $ref: '#/definitions/Errors'
  error429_TooManyRequests:
    description: Too Many Requests
    schema:
      $ref: '#/definitions/Errors'
    headers:
      X-RateLimit-Limit:
        description: The number of allowed requests in the current period.
        type: integer
        format: int32
      X-RateLimit-Remaining:
        description: The number of remaining requests in the current period.
        type: integer
        format: int32
      X-RateLimit-Reset:
        description: 'The remaining window before the rate limit resets in UTC [epoch seconds](https://en.wikipedia.org/wiki/Unix_time).

          '
        type: integer
        format: int64
x-group-parameters: true
